

:root {

    --acent: #e9ff88;
    --first: #f3d8fa;
    --secondary: #4a354f;
    --dark: #19191a;
    --white: whitesmoke;
    --tile_color_lighting: var(--dark);
    --text_color_lighting: var(--secondary);

    --tile_color_dark: var(--acent);
    --text_color_dark: var(--first);
    --space_letter: 1.2px;
    --space_letter_x: 2px;
    --opacity_green: hsla(71, 69%, 66%, 0.9);
}


/* ---------> MAIN */
#main {
  background-color: var(--dark);
}

#card_market_product  {
    background-color: #323234;
    color: var(--tile_color_dark);

    transition-property: opacity, left;
    transition-duration: 3s, 5s;

}


#card_market_product:hover {
    box-shadow: -1px 0px 70px 1px rgba(245,245,245,0.3) !important;
    -webkit-box-shadow: -1px 0px 10px 1px rgba(245,245,245,0.3) !important;
    -moz-box-shadow: -1px 0px 70px 1px rgba(245,245,245,0.3) !important;

}



#card_market_product .card-img-top.img-producto {
    margin-bottom: 10px !important;
}
#card_market_product .card-body {
    border-top: var(--dark) 1px solid ;
}


#main .buy .market-section .title_market h2{
    color: var(--tile_color_dark);
}

#show_cart  {
    background-color: var(--white);
    width: 5px;
}

.about_as {
    background-color: var(--opacity_green);
}


#about_as > div > div > div:nth-child(1) {
    background-color: var(--dark) !important; 
}

#main .buy .market-section .container_market_products .img-producto {
    background-color: var(--white);
}

.text_starbucks {
    background-color: var(--dark) !important;
    color: #e9ff88;
}


.grl_separation {
    border: 2px solid var(--tile_color_dark);
}

.effects .container-fluid{

    border-top: solid 8px var(--white);   
}


/* ---------> MODAL */
#resume_total_text {

    color: var(--text_color_lighting);
    background-color: var(--acent);
}

/* ---------> MODAL END */